API_ID=7401653 # get this value from my.telegram.org
API_HASH=05fef94c8f65c562bb786821fe6b30ca # get this value from my.telegram.org
BOT_TOKEN=5331280684:AAHX19jQiJZshFachIlxOYcVZpPKcC7yBe8 # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://lordd:lordd@cluster0.s0md3.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001575666241 # get this value from in your log group 
MUSIC_BOT_NAME=ElegantMusicBot # your music bot name 
STRING_SESSION=AgCN6QmxtryeSugEeFDIHBmlIUcNhr356UqQut8jB1ZbShFVvbYshomvTOBsmFUi8yByaOEtpOG1NjytEts6iNyfuHtlyrtUfTVm7OChtgvm_OavNdUqW1HmbjGUHYy1IsSjlTA6iBIDEpzAwusTeZha_GwCgDbStiWqRA-WVzQHaJ8Eyq2Ckrw10y--X6XakQyX21-Y3wj1naTW2yYTpjjh6uehpiK9NDRaulnv69pscueB0L1tZXnmjmc5fO6UbUm_Ftw48OjfRaKODurqria8GapNL6J5aQXYo4KF6H0apbgYUrQgzoYvEcV4_sEbkT4ZAX7gpFzp-T-21zU6HZNoAAAAATTD2X0A # get this value from @yukkistringbot
OWNER_ID=5105666086
